<!-- <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="access_modal"> -->
    <!-- <div class="modal-dialog modal-sm"> -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">菜单授权</h3>
            </div>

            <div class="modal-body" style="max-height: 650px;overflow-y: scroll;">
                <div id="tree"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button onclick="save_access()" class="btn btn-primary">保存</button>
            </div>
        </div>
   <!--  </div>
</div> -->

{js href="__JS__/plugins/jstree/jstree.min.js" /}
{css href="__CSS__/plugins/jstree/style.min.css"}

<script type="text/javascript">
$(function(){
    $('#tree').jstree({ 
        core : {
            data : [
                {"id":1,"parent":"#","text":"系统管理","state":{"disabled":false}},
                {"id":31,"parent":"#","text":"用户管理","state":{"disabled":false}},
                {"id":12,"parent":"#","text":"欢迎留言","state":{"disabled":false}},
                {"id":26,"parent":"#","text":"只言片语","state":{"disabled":false}},
                {"id":3,"parent":1,"text":"账号管理","state":{"disabled":false}},
                {"id":30,"parent":1,"text":"角色管理","state":{"disabled":false}},
                {"id":2,"parent":1,"text":"菜单管理","state":{"disabled":false}},
                {"id":13,"parent":12,"text":"用户建议","state":{"disabled":false}},
                {"id":27,"parent":26,"text":"胡说八道","state":{"disabled":false}},
                {"id":32,"parent":31,"text":"二级菜单","state":{"disabled":false}},
                {"id":"2_1","parent":2,"text":"查看","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"2_2","parent":2,"text":"添加","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"2_3","parent":2,"text":"编辑","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"2_4","parent":2,"text":"删除","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"3_5","parent":3,"text":"查看","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"3_6","parent":3,"text":"添加","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"3_7","parent":3,"text":"编辑","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"3_8","parent":3,"text":"删除","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"3_17","parent":3,"text":"搜索","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"3_18","parent":3,"text":"授权","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"3_19","parent":3,"text":"修改密码","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"13_36","parent":13,"text":"查看","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"13_37","parent":13,"text":"添加","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"13_38","parent":13,"text":"编辑","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"13_39","parent":13,"text":"删除","state":{"disabled":false,"selected":true},"icon":" "},
                {"id":"27_117","parent":27,"text":"查看","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"27_118","parent":27,"text":"添加","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"27_119","parent":27,"text":"编辑","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"27_120","parent":27,"text":"删除","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"30_124","parent":30,"text":"查看","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"30_125","parent":30,"text":"添加","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"30_126","parent":30,"text":"编辑","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"30_127","parent":30,"text":"删除","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"30_142","parent":30,"text":"授权","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"32_131","parent":32,"text":"查看","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"32_132","parent":32,"text":"添加","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"32_133","parent":32,"text":"编辑","state":{"disabled":false,"selected":false},"icon":" "},
                {"id":"32_134","parent":32,"text":"删除","state":{"disabled":false,"selected":false},"icon":" "},
            ],

            dblclick_toggle: false
        },
        checkbox : {
             keep_selected_style : false,
             three_state: true, // 父级选中自动全选子集
        },
        plugins : [  "checkbox" ]
    });
});

function save_access(){
    var checked_menu = $('#tree').jstree('get_checked');
    var node = [];
    for(var i in checked_menu){
        if(checked_menu[i].indexOf('_') != -1){
            var array = checked_menu[i].split('_');
            node.push(array[1]);
        }
    }
    
    var node_id = node.join(',');
    
    $.ajax({
        url: '/admin/role/access_menu',
        dataType: 'json',
        type: 'post',
        success: function(){
            $('#access_modal').modal('hide');
        }
    });
}
</script>