<!-- head -->
{include file="./_layout/header" /} 
<body>
	<div id="wrapper">
		<!-- 左侧菜单 -->
		<nav class="navbar-default navbar-static-side" role="navigation">
			{include file="./_layout/sidebar" /}
    	</nav>
		
		<!-- 右侧 -->
		<div id="page-wrapper" class="gray-bg">
			<!-- 头部 -->
			<div class="row border-bottom">
				{include file="./_layout/top" /}
			</div>
			<!-- 面包屑导航 下次更新做-- >
			<!-- <div class="row wrapper border-bottom white-bg page-heading">
				
			</div> -->
			<!-- 内容 -->
			<div>
				
				{__CONTENT__}
			</div>
			
			<!-- 页脚 -->
			<div>
				{include file="./_layout/footer" /}
			</div>
		</div>
	</div>

	<!-- necessary ！！！-->
	{js href="__LIB__/bootstrap3/js/bootstrap.min.js" /}
	{js href="__JS__/plugins/metisMenu/jquery.metisMenu.js" /}
	{js href="__JS__/plugins/slimscroll/jquery.slimscroll.min.js" /}
	{js href="__JS__/bootstrap-table.js" /}
	{js href="__JS__/main.js" /}
	{js href="__JS__/gridview.js" /}
	{js href="__JS__/<?php echo \think\Lang::detect();?>.js" /}

	<!-- custom and plugins -->
	{js href="__JS__/plugins/pace/pace.min.js" /}
	
</body>
</html>