<!-- Data Tables -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单标题概要 -->
                <div class="ibox-title">
                    <h5>权限列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <!-- 表单内容 -->
                <div class="ibox-content">
                    <!-- 用户控件（操作） -->
                    {toolbar id="toolbar"}
                        <div class="btn-group">
                             <button type="button" data-name="access_menu" class="btn btn-primary" data-event-type="view" data-event-value="" data-target="self"><i class="fa fa-certificate" aria-hidden="true" style="margin-right: 2px"> </i>用户权限</button>
                        </div>
                    {/toolbar}
                    <!-- 表格数据 -->
                    <table id="table" data-toggle="gridview" class="table" data-url="{:url('admin/authrule/getData');}" data-toolbar="#toolbar" data-show-columns="true" data-page-size="5" data-page-list="[5, 25, 50, All]" data-unique-id="id" data-pagination="true" data-side-pagination="client">
					    <thead>
					        <tr>
					            <th data-width="40"  data-align="center"  data-checkbox="true"></th>
					            <th data-width="50" data-field="id">ID</th>
					            <th data-field="title">权限名称</th>
					            <th data-field="rule_val">RULE_VAL</th>
					            <th data-width="30" data-field="operate"   data-align="center" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
					        </tr>
					    </thead>
					</table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// $(function(){
//         $("#table").on("access_menu",function(e, gridview, params){
//             console.log(e)
//             if(gridview.currentRow == null){
//                 alertMsg("请先选择授权的用户！")
//                 return false;
//             }
//             params.data.id = gridview.currentRow.id
//         })
//     })

    function operateFormatter(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0)" title="{$Think.lang.Edit}">',
            '<i class="fa fa-edit"></i>',
            '</a>  ',
            '<a class="delete" href="javascript:void(0)" title="{$Think.lang.Delete}">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('');
    }

    var operateEvents = {
        'click .edit': function (e, value, row, index) {
            var param = {
                url: "{:url('admin/authrule/edit')}",
                data: {id: row.id}
            }
            $("#table").gridView('loadModal', param.url,param.data)
        },
        'click .delete': function (e, value, row, index) {
            $("#table").gridView('deleteModal', 'delete', row)
            
        }
    };


function format_status(status,row,index) {
	if(status == 1){
		return '显示'
	}else if(status == 2){
		return  '隐藏'
	}else if(status == 0){
		return  '禁止'
	}
}

function format_sort(sort,row,index) {
	return '<input type="text" class="form-control sort" data-id="'+row.id+'"  value="'+sort+'" />';
}

</script>
