<!-- Data Tables -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="background: white;padding: 10px">
                <!-- 表单标题概要 -->
                <div class="ibox-title">
                    <h5>Editable Table in- combination with jEditable</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Config option 1</a>
                            </li>
                            <li><a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <!-- 表单内容 -->
                <div class="ibox-content">
                    <!-- 用户控件（操作） -->
                    {toolbar id="toolbar"}
                    {/toolbar}
                    <!-- 表格数据 -->
                    <!-- 解释
                        data-toggle 调用 gridview.js
                        data-url 请求服务器地址
                        data-toolbar toolbar按钮
                        data-show-columns 是否显示 内容列下拉框  
                        data-pagination 设置分页
                        data-page-size 如果设置了分页，页面数据条数
                        data-page-list 设置可供选择的页面数据条数
                        data-unique-id 唯一ID （一般设置主键）
                        data-side-pagination  设置在哪里进行分页，可选值为 'client' 或者 'server'
                        data-search 是否启用搜索框 
                        data-click-to-select 设置true 将在点击行时，自动选择rediobox 和 checkbox
                         -->
                    <table id="table" data-toggle="gridview" class="table" data-url="/admin/comment" data-toolbar="#toolbar" data-show-columns="true" data-pagination="true" data-page-size="10" data-page-list="[10, 25, 50, All]" data-unique-id="id"  data-side-pagination="server" data-search="true" data-click-to-select="false">
                        <thead>
                            <tr>
                                <th data-width="10" data-align="center" data-checkbox="true"></th>
                                <th data-width="30" data-field="username">称呼</th>
                                <th data-width="50" data-field="email" data-align="center">邮箱</th>
                                <th data-field="content">内容</th>
                                <th data-width="150" data-field="create_time" data-align="center">时间</th>
                                <th data-field="operate"   data-align="center" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function operateFormatter(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0)" title="编辑">',
            '<i class="fa fa-edit"></i>',
            '</a>  ',
            '<a class="delete" href="javascript:void(0)" title="删除">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('');
    }

    var operateEvents = {
        'click .edit': function (e, value, row, index) {
            var param = {
                url: '/admin/subject/edit',
                data: {id: row.id}
            }
            $("#table").gridView('loadModal', param.url,param.data)
        },
        'click .delete': function (e, value, row, index) {
            $("#table").gridView('deleteModal', 'delete', row)
            
        }
    };


</script>
