<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <!-- 个人信息 -->
        <li class="nav-header">
                <div class="dropdown profile-element">
            <a href="{:url('admin/index/index')}">
                    <span><img alt="image" width="64" height="64" class="img-circle" src="__IMG__/logo.jpg" /></span>
            </a>
                </div>
            <div class="logo-element">
                Red
            </div>
        </li>
        <!-- 菜单列表 -->
        <!-- 一级菜单 -->
        <li>
            <a href="{:url('admin/index/index')}"><i class="fa fa-th-large"></i> <span class="nav-label">{$Think.lang.Dashboards}</span></a>
        </li>
        <!-- 二级菜单 -->
        <li>
            <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">{$Think.lang.SystemManage}</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li class=""><a href="{:url('admin/user/index')}">{$Think.lang.UserManage}</a></li>
                <li><a href="{:url('admin/role/index')}">{$Think.lang.RoleManage}</a></li>
                <li><a href="{:url('admin/authrule/index')}">{$Think.lang.AuthManage}</a></li>
            </ul>
        </li>
       
    </ul>
</div>
