<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <!-- 个人信息 -->
        <li class="nav-header">
                <div class="dropdown profile-element">
            <a href="{:url('admin/index/index')}" style="font-size: 20px; font-weight: 700;">
                <span><img alt="image" width="64" height="64" class="img-circle" src="__IMG__/logo.jpg" /></span>
                OpenVPN
            </a>
                </div>
            <div class="logo-element">
                OVPN
            </div>
        </li>
        <!-- 菜单列表 -->
        <!-- 仪表盘 -->
        <li>
            <a href="{:url('admin/index/index')}" data-model="admin-index"><i class="fa fa-th-large"></i> <span class="nav-label">{$Think.lang.Dashboards}</span></a>
        </li>
        <!-- 系统管理 -->
        <li>
            <a href="#"><i class="fa fa-cog"></i> <span class="nav-label">{$Think.lang.SystemManage}</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li class=""><a href="{:url('admin/user/index')}" data-model="admin-user">{$Think.lang.UserManage}</a></li>
                <li><a href="{:url('admin/role/index')}" data-model="admin-role">{$Think.lang.RoleManage}</a></li>
                <li><a href="{:url('admin/authrule/index')}" data-model="admin-authrule">{$Think.lang.AuthManage}</a></li>
            </ul>
        </li>
        <!-- VPN管理 -->
        <li>
            <a href="{:url('admin/ca/index')}" data-model="admin-ca"><i class="fa fa-th-large"></i> <span class="nav-label">{$Think.lang.CAManage}</span></a>
        </li>
       
    </ul>
</div>
