{__NOLAYOUT__}
<form data-method="post" data-action="{:url('admin/user/saveData')}" data-submit="ajax" data-validate="true" class="form-horizontal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">{$data['id']?lang('Edit'):lang('Add')}{:lang('Account')}</h3>
                </div>
                <input type="hidden" name="id" value="{$data.id ?? ''}">
                <div class="modal-body">
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Name')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="username" maxlength="8"  placeholder="{:lang('Up_characters',['langth' =>8])}" required value="{$data.username ?? ''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('Mobile Number')}</label>
                            <div class="col-sm-7"> 
                                <input type="tel" class="form-control mobile" name="mobile" maxlength="11" placeholder="{:lang('Up_characters',['langth' =>11])}" required value="{$data.mobile ?? ''}"  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('Password')}</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control" name="password" id="password"  rangelength="[6,16]" placeholder="{:lang('Range_characters',['minLangth' =>6,'maxLangth' => 16])}" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('Confirm Password')}</label>
                            <div class="col-sm-7">
                                <input type="password" class="form-control equalto" name="password2" rangelength="[6,16]" placeholder="{:lang('Range_characters',['minLangth' =>6,'maxLangth' => 16])}" required data-rule-equalto="#password" data-msg-equalto="{:lang('The password is not the same twice')}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('Role')}</label>
                            <div class="col-sm-7">
                                <select name="role_id" id="" class="form-control" required>
                                    {volist name="roleData" key="key" id="vo"}
                                        <option value="{$key}">{$vo}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('Status')}</label>
                            <div class="col-sm-7">
                                <select name="status" class="form-control" required>
                                    <option value="1" {$data['status']==1 ? 'selected' : ''}>{:lang('Start')}</option>
                                    <option value="2" {$data['status']==2 ? 'selected' : ''}>{:lang('Hide')}</option>
                                    <option value="0" {$data['status']==0 ? 'selected' : ''}>{:lang('Off')}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                    <button type="submit" class="btn btn-primary">{:lang('Save')}</button>
                </div>
            </div>
        </div>
    </div>
</form>